<ul class="nav justify-content-center sticky-top">
  <li class="nav-link"><%= link_to "", :back, class: "fa fa-chevron-left"%></li>
  <li class="nav-link" >간편회원가입</li>
</ul>
<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "아이디 영문, 숫자 조함 6~12자" %>
    </div>

    <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "비밀번호 영문, 숫자, 특수문자 조합 8~12자" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off",  class: "form-control", placeholder: "비밀번호 다시 입력" %>
    </div>

    <%= f.submit "가입완료" , class: "btn btn-primary btn-block"%>
  <% end %>
</div>