<%= bootstrap_form_for(banner, local: true) do |form| %>
  <% if banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name , class: "form-control" ,label: "이름" %>
  </div>
  
  <div class="form-group">
    <%= form.collection_select :category_id, Category.all, :id, :name, {},{class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.datetime_select :sdate,date_separator: '.', datetime_separator: '-', use_month_numbers: true, class: 'form-control-sm', default: Time.now.to_date ,label: "날짜"%>
    <%= form.datetime_select :edate, date_separator: '.', datetime_separator: '-', use_month_numbers: true, class: 'form-control-sm', default: Time.now.to_date + 1%>
  </
  </div>
  
  <div class="form-group">
    <%= form.file_field :image , class: "form-control",label: "사진"%>
  </div>
  <%= form.submit "제출" , class: "btn btn-primary btn-block"%>
<% end %>
