<%= form_with(model: banner, local: true) do |form| %>
  <% if banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name ,'종류'%>
    <%= form.text_field :name , class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= form.label :category_id, '카테고리' %>
    <%= form.collection_select :category_id, Category.all, :id, :name, {},{class: "form-control form-control-sm"} %>
  </div>

  <div class="form-group">
    <%= form.label :sdate, '날짜' %>
    <%= form.datetime_select :sdate,date_separator: '/', datetime_separator: '-', use_month_numbers: true, class: 'form-control', default: Time.now.to_date%>
    <%= form.label :sdate, '~' %>
    <%= form.datetime_select :edate, date_separator: '/', datetime_separator: '-', use_month_numbers: true, class: 'form-control', default: Time.now.to_date + 1%>
  </
  </div>
  
  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image , class: "form-control"%>
  </div>
  <%= form.submit "제출" , class: "btn btn-primary btn-block"%>
<% end %>
