<!-- <p id="notice"><%= notice %></p> -->
<ul class="nav justify-content-center sticky-top bg-white">
  <li class="nav-link h5" > 관리페이지</li>
</ul>

<div class="container">
  <h6 class="float-right"><span class="badge badge-dark"><% if !@banners.blank? %><%=@banners.first.category.name%><% end %></span></h6>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">배너</th>
        <th scope="col">보기</th>
        <th scope="col">수정</th>
        <th scope="col">삭제</th>
        <th scope="col">추천상품</th>
      </tr>
    </thead>

    <tbody>
      <% @banners.each_with_index do |banner,index| %>
        <tr>
          <th scope="row"><%=index+1%></th>
          <td><%= banner.name %></td>
          <td><%= link_to '', banner, class: "fa fa-eye fa-lg" %></td>
          <td><%= link_to '', edit_banner_path(banner),class: "fa fa-pencil fa-lg" %></td>
          <td><%= link_to '', banner, class: "fa fa-trash-o fa-lg", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to '',  banner_recommends_path(banner) ,class: "fa fa-list"%></td>

        </tr>
      <% end %>
    </tbody>
  </table>    
  <%= link_to '새로만들기', new_banner_path , class: "btn btn-outline-secondary text-dark btn-block"%>
</div>
