<div class="container">
	<div class="card mt-4 mb-1">
	  <div class="card-body">
	    <h5 class="card-title"><%= @banner.name %></h5>
	    <p class="card-text"><%= @banner.category.name %></p>
	    <p class="card-text"><%= @banner.sdate.strftime("%Y년 %m월 %d일 %I:%M%p") %> ~</p> 
	    <p> <%= @banner.edate.strftime("%Y년 %m월 %d일 %I:%M%p") %></p>
	  </div>
	  <%= image_tag @banner.image.url ,class: "card-img-bottom"%>  
	</div>
	<div class="link float-right">
		<%= link_to '수정', edit_banner_path(@banner), class: "btn btn-outline-dark" %>
		<%= link_to '뒤로', category_banners_path(@banner.category), class: "btn btn-dark" %>	
	</div>
	
</div>

