<%= render 'layouts/navbar' %>

<div class="container">
  <div class="input-group col-md-10 offset-md-1 mt-2 px-0">
		<input type="text" class="form-control bg-muted" placeholder="야나두 최다강의+도서14권set+무료체험+장학">
		<span class="input-group-btn">
		  <button class="btn btn-muted" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
		</span>
		<%= image_tag @icon_link ,class: "card-img-bottom", id: "weather_icon"%>
  </div>	
</div>
<div>
  <nav class="nav">
		<a class="pr-2 nav-link text-dark" href="#">TV쇼핑</a>
		<a class="pr-2 nav-link text-dark" href="#"><img src="//image.cjmall.net/public/confirm/assets/thmtab_menu/201711/24/000462/be585ceb8ca3f053dc9779f41b91bd96687f4433.png" alt="" class="ico_reg_flag">쇼크LIVE</a>
		<a class="pr-2 nav-link text-dark" href="#"><img src="//image.cjmall.net/public/confirm/assets/thmtab_menu/201712/28/000664/9206806e0cf54b3b403fd24e60304add818d00ff.png" alt="" class="ico_reg_flag">오클락딜</a>
		<a class="pr-2 nav-link text-dark" href="#">10%적립</a>
  </nav>
</div>

<div id="container"></div>

<script type="text/javascript">
	var code2 = <%= @code.code %>;
</script>

<%= javascript_include_tag "backbone/model.js"%>
<%= javascript_include_tag "backbone/view.js"%>



<div id="moduleArea">
	<div id="carouselExampleIndicators" class="carousel slide pb-2" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img class="d-block w-100" src="//thumb.cjmall.net/unsafe/980x390/image.cjmall.net/cjupload/banner/main/6001_b_20180104185310.jpg" alt="그녀의 뷰티살롱 동국 마데카크림">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="//thumb.cjmall.net/unsafe/980x390/image.cjmall.net/cjupload/banner/main/6001_b_20180104185353.jpg" alt="비욘드 브랜드세일 최대 50%">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="//thumb.cjmall.net/unsafe/980x390/image.cjmall.net/cjupload/banner/main/6001_b_20180104190809.jpg" alt="신년 집들이 가구 4DAYS">
	    </div>
	  </div>
	</div>

	<div id="m_menu" class="py-2">
		<div class="image ml-3">
			<img src="//thumb.cjmall.net/unsafe/136x90/image.cjmall.net/public/confirm/assets/tdp_cate_cont/201712/28/344834/0248b5ab2a0daa48efcf9e324a1b488f29602292.png" alt="1/4~5 삼성5">
			<img src="//thumb.cjmall.net/unsafe/136x90/image.cjmall.net/public/confirm/assets/tdp_cate_cont/201712/06/301440/c14b1712fe0d7e1d57e43e0bf55432e49cefedd6.png" alt="마이존 쿠폰받기">
			<img src="//thumb.cjmall.net/unsafe/136x90/image.cjmall.net/public/confirm/assets/tdp_cate_cont/201711/27/279211/336f4cac710611bc37a8d564ba0e727681f4e302.png" alt="출석체크 ~1월">
			<img src="//thumb.cjmall.net/unsafe/136x90/image.cjmall.net/public/confirm/assets/tdp_cate_cont/201710/27/209343/48b732a9bd55dda0c47fce253b18fbbb6633b2ad.png" alt="빠른배송">	
		</div>
	</div>
	<img src="//thumb.cjmall.net/unsafe/776x437/image.cjmall.net/public/confirm/assets/MOBILE_IMG/201712/18/42191269/00659842191269464409.jpg" data-src="//thumb.cjmall.net/unsafe/776x437/image.cjmall.net/public/confirm/assets/MOBILE_IMG/201712/18/42191269/00659842191269464409.jpg" data-error-src="//image.cjmall.net/public/confirm/contents/ec-static-contents/design/img/default_0025_fit.jpg" class="img-fluid" width="480" alt="섬네일이미지">	
</div>