<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @recommend.code %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @recommend.banner %>
</p>

<%= link_to 'Edit', edit_recommend_path(@recommend) %> |
<%= link_to 'Back', recommends_path %>
