<ul class="nav justify-content-center sticky-top bg-white">
  <li class="nav-link h5" >관리페이지</li>
</ul>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">종류</th>
        <th scope="col">우선순위</th>
        <th scope="col">수정</th>
        <th scope="col">배너</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each_with_index do |category,index| %>
        <tr>
          <th scope="row"><%=index+1%></th>
          <td><%= category.name %></td>
          <td><%= category.priority %></td>
          <td><%= link_to '', edit_category_path(category) ,class: "fa fa-pencil fa-lg"%></td>
          <td><%= link_to '',  category_banners_path(category) ,class: "fa fa-list fa-lg"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!--<%= link_to '카테고리 생성하기', new_category_path %>-->
</div>
