<ul class="nav justify-content-center sticky-top bg-white">
  <li class="nav-link h5" >관리페이지</li>
</ul>
<div class="container">
  <h6 class="float-right"><span class="badge badge-dark">Category</span></h6>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">이름</th>
        <th scope="col">순위</th>
        <th scope="col">수정</th>
        <th scope="col">배너</th>
        <th scope="col">삭제</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each_with_index do |category,index| %>
        <tr>
          <th scope="row"><%=index+1%></th>
          <td><%= category.name %></td>
          <td><%= category.priority %></td>
          <td><%= link_to '', edit_category_path(category) ,class: "fa fa-pencil"%></td>
          <td><%= link_to '',  category_banners_path(category) ,class: "fa fa-list"%></td>
          <td><%= link_to '', category, class: "fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= link_to '새로만들기', new_category_path , class: "btn btn-outline-secondary text-dark btn-block"%>
  <h6 class="float-right pt-3"><span class="badge badge-dark">Weather</span></h6>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">위치</th>
        <th scope="col">수정</th>
      </tr>
    </thead>

    <tbody>      
        <tr>
          <th scope="row">1</th>
          <td><%= @weather.location %></td>
          <td><%= link_to '', edit_weather_url(@weather) ,class: "fa fa-pencil"%></td>
        </tr>
    </tbody>
  </table>
</div>
